@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <button onclick="getForecast()" class="btn btn-primary">Get Norwich Weather Forecast</button>

    <div id="forecast1"></div>

    <div id="forecast2"></div>

    <div id="forecast3"></div>
</div>

<script>
    function getForecast() {
    $.ajax({
        type: "POST",
        url: '@Url.Action("Forecast", "Home")',
        async: true,
        success: function (response) {
            document.getElementById("forecast1").innerHTML = response[0];
            document.getElementById("forecast2").innerHTML = response[1];
            document.getElementById("forecast3").innerHTML = response[2];
        }
    });
}
</script>

